
<!-- cpu  -->
<script src="<%- config.root %>js/L2Dwidget.min.js"></script>
<script>
     var baseurl=document.domain;
    function prt(str) {
        let l = new String(str);
        return l.substring(l.indexOf("/*") + 3, l.lastIndexOf("*/"));
    }
    let str = function () {
    /* welcome to open console
           _____                    _____          
          /\    \                  /\    \         
         /::\    \                /::\    \        
        /::::\    \              /::::\    \       
       /::::::\    \            /::::::\    \      
      /:::/\:::\    \          /:::/\:::\    \     
     /:::/  \:::\    \        /:::/__\:::\    \    
    /:::/    \:::\    \       \:::\   \:::\    \   
   /:::/    / \:::\    \    ___\:::\   \:::\    \  
  /:::/    /   \:::\    \  /\   \:::\   \:::\    \ 
 /:::/____/     \:::\____\/::\   \:::\   \:::\____\
 \:::\    \      \::/    /\:::\   \:::\   \::/    /
  \:::\    \      \/____/  \:::\   \:::\   \/____/ 
   \:::\    \               \:::\   \:::\    \     
    \:::\    \               \:::\   \:::\____\    
     \:::\    \               \:::\  /:::/    /    
      \:::\    \               \:::\/:::/    /     
       \:::\    \               \::::::/    /      
        \:::\____\               \::::/    /       
         \::/    /                \::/    /        
          \/____/                  \/____/          @阿帅 */
    }

    console.log(prt(str));
    if("chengshea.github.io"==baseurl || "cheng.vercel.app"==baseurl){
       
        var newScript = document.createElement("script");
        newScript.setAttribute("type","text/javascript");
        newScript.setAttribute("src","/js/snow.js");
        document.body.appendChild(newScript);
	  
        L2Dwidget.init({
		"model": {
	　　　　　　　//jsonpath控制显示那个小萝莉模型，haru01/haru01  haru02/haru02  hibiki/hibiki  hijiki/hijiki
		    //jsonPath: "https://xxxxx/assets/hijiki.model.json",
		     jsonPath: "<%- config.root %>models/haru01/haru01.model.json",
		    "scale": 1
		},
		"display": {
		    "position": "right", //看板娘的表现位置
		    "width": 150,  //小萝莉的宽度
		    "height": 330, //小萝莉的高度
		    "hOffset": 0,
		    "vOffset": -20
		},
		"mobile": {
		    "show": true,
		    "scale": 0.5
		},
		"react": {
		    "opacityDefault": 0.7,
		    "opacityOnHover": 0.2
		}
	    }); 
    }
  var now = new Date(); 
    function createtime() { 
        var grt= new Date("12/03/2016 21:38:00");//在此处修改你的建站时间，格式：月/日/年 时:分:秒
        now.setTime(now.getTime()+250); 
        days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
        hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
        if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
        mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
        seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
        snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
        document.getElementById("timeDate").innerHTML = "本站已运行<span class='date_num'> "+dnum+"</span> 天 "; 
        document.getElementById("times").innerHTML ="<span class='date_num'>"+ hnum + "</span> 小时 <span class='date_num'>" + mnum + "</span> 分 <span class='date_num'>" + snum + "</span> 秒 | "; 
    } 
setInterval("createtime()",250);
</script>

<footer id="footer">
    <div class="outer">
        <div id="footer-info">
            <div class="footer-left">
                &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
            </div>
            <div class="footer-right">
                <a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/luuman/hexo-theme-spfk" target="_blank">spfk</a> by luuman
            </div>
        </div>
        <% if (theme.visit_counter.on) { %>
            <div class="visit">  <!--计数设置-->
 <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
                <% if (theme.visit_counter.site_visit) { %>
                    <span id="busuanzi_container_site_pv" style='display:none'>
                        <span id="site-visit" ><%= theme.visit_counter.site_visit %>: 
                            <span id="busuanzi_value_site_uv"></span>
                        </span>
                    </span>
                <% } %>
                <% if (theme.visit_counter.site_visit && theme.visit_counter.page_visit) { %>
                    <span>, </span>
                <% } %>
                <% if (theme.visit_counter.page_visit) { %>
                    <span id="busuanzi_container_page_pv" style='display:none'>
                        <span id="page-visit"><%= theme.visit_counter.page_visit %>: 
                            <span id="busuanzi_value_page_pv"></span>
                        </span>
                    </span>
                <% } %>
            </div>
        <% } %>
    </div>
</footer>
